.editor {
  height: 70vh !important;
  width: 60vw !important;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .editor {
    width: 70vw !important;
  }
}
@media (max-width: 800px) {
  .editor {
    width: 90vw !important;
  }
}

.errorLineHighlight {
  background: rgba(255, 0, 0, 0.15);
}
